{include file="public/header" /}
</head>
<body>
	<div id="main-container">
		{include file="public/menu" /}
		<div class="main">
			<div class="notice">{$position.url}</div>
			<div class="main_content">
				<div class="title">
					<span>{$position.name}</span>
				</div>
				<a class="btn mr10" href="{:url('addsitelink')}">添加</a><a class="btn do-action" data-type="doDelete" data-href="{:url('delsitelink')}">删除</a>
				<div class="table" v-el:table>
					<form id="export-form" method="post" action="{:url('index')}">
					<table class="layuitable">
						<thead>
							<tr>
								<th width="50"><input class="i-checks checkbox check-all" type="checkbox"></th>
								<th class="sort" width="80"><span>ID</span></th>
								<th class="sort" width="200"><span>关键词</span></th>
								<th><span>链接地址</span></th>
								<th class="sort" width="100"><span>替换个数</span></th>
								<th class="sort" width="100"><span>打开方式</span></th>
								<th class="sort" width="100"><span>是否启用</span></th>
								<th width="150"><span>操作</span></th>
							</tr>
						</thead>
						<tbody>
							{notempty name="infolist"}
		                    	{volist name="infolist" id="v"}
								<tr>
									<td><input class="ids i-checks" type="checkbox" name="ck" ids="{$v.id}"></td>
									<td>{$v.id}</td>
									<td>{$v.name}</td>
									<td>{$v.url}</td>
									<td>{$v.num}</td>
									<td>{if $v.otype eq '_blank'}新开{else}当前{/if}</td>
									<td><a href="javascript:;" class="change_status" data-id="{$v.id}"> <div class="layui-unselect layui-form-switch {if condition="$v.status eq 1"}layui-form-onswitch{/if}"><i></i></div> </a></td>
									<td>
										<a class="btn do-action" data-type="doEdit" data-href="{:url('editsitelink')}" data-id="{$v.id}">编辑</a>
		                            	<a class="btn do-action" data-type="doDelOne" data-href="{:url('delsitelink',['ids'=>$v['id']])}">删除</a>
									</td>
								</tr>
								{/volist}
		                    {else /}
		                        <td colspan="8" class="text-center"> 暂未发现数据! </td>
		                    {/notempty}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<script>
    var laytpl,laypage;
    layui.use(['layer', 'common', 'icheck'], function () {
        var $ = layui.jquery, layer = layui.layer, common = layui.common;
        laypage = layui.laypage;
        //加载单选框样式
        $(("[type='checkbox']")).iCheck({
            checkboxClass: 'icheckbox_square-green',
        });
        //全选的实现
        $('.check-all').on('ifChecked', function (event) {
            $('input[name="ck"]').iCheck('check');
        });
        $('.check-all').on('ifUnchecked', function (event) {
            $('input[name="ck"]').iCheck('uncheck');
        });
    });

    $(document).on('click','.change_status', function () {
            var id=$(this).attr('data-id');
            var obs=$(this);
            $.ajax({
                url: '{:url("statesitelink")}',
                dataType: "json",
                data:{'id':id},
                type: "POST",
                success: function(data){
                    if(data.code == 1){
                        obs.find('div').removeClass('layui-form-onswitch');
                        layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                    }else{
                        obs.find('div').addClass('layui-form-onswitch');
                        layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                    }
                },
                error:function(ajaxobj)
                {
                    if(ajaxobj.responseText!='')
                        alert(ajaxobj.responseText);
                }
            });
        });
</script>
</body>
</html>