<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>YUNUCMS安装向导</title>
<link href="__INSTALL__/css/base.css" rel="stylesheet" type="text/css" />
<link href="__INSTALL__/css/style.css" rel="stylesheet" type="text/css" />
<script src="__INSTALL__/js/jquery-1.4.2.min.js"></script>
<script src="__INSTALL__/js/install.js"></script>
</head>
<body>
<div class="g-install">
  <div class="m-head">
    <h1>YUNUCMS安装进行中</h1>
  </div>
  <div class="m-body">
  	<div class="m-log">
    	
    </div>
  </div>
  <div class="m-foot"> 
  	<a href="javascript:;">安装中...</a>
  </div>
</div>
{$showstr}
</body>
</html>