    <div class="mip-foot">
        <yunu:config name="wap_copyright"/>
    </div>

    <div class="mip-foot-nav">
        <a href="/">
            <i><mip-img src="__PUBLIC__/img/a1.png"></mip-img></i>
            <span>网站首页</span>
        </a>
        <a href="/chanpinzhanshi/">
            <i><mip-img src="__PUBLIC__/img/a2.png"></mip-img></i>
            <span>产品展示</span>
        </a>
        <a href="/guanyuwomen/">
            <i><mip-img src="__PUBLIC__/img/a3.png"></mip-img></i>
            <span>关于我们</span>
        </a>
        <a href="/lianxiwomen/">
            <i><mip-img src="__PUBLIC__/img/a4.png"></mip-img></i>
            <span>联系我们</span>
        </a>
    </div>

    <mip-fixed type="gototop">
        <mip-gototop></mip-gototop>
    </mip-fixed>

    <script src="https://mipcache.bdstatic.com/static/v1/mip.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-nav-slidedown/mip-nav-slidedown.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-gototop/mip-gototop.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-vd-tabs/mip-vd-tabs.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-sidebar/mip-sidebar.js"></script>
