{include file="public/header" /}
<title>云优CMS_生成XML</title>
</head>
<body>
	<div id="main-container">
		<div class="header">
			<div class="logo fl"><a href="javascript:;"><i class="icon icon-阿里云"></i></a></div>
			<div class="head_name fl"><a href="javascript:;">管理控制台</a></div>
			<div class="nav fl">
				<ul class="clearfix">
					<li><a href="javascript:;"><i class="icon icon-icon-menu-01"></i>常用菜单</a></li>
					<li><a href="javascript:;"><i class="icon icon-icon-menu-02"></i>内容管理</a></li>
					<li><a href="javascript:;"><i class="icon icon-icon-menu-03"></i>广告管理</a></li>
					<li><a href="javascript:;"><i class="icon icon-icon-menu-04"></i>营销设置</a></li>
					<li><a href="javascript:;"><i class="icon icon-icon-menu-05"></i>WAP设置</a></li>
					<li><a href="javascript:;"><i class="icon icon-icon-menu-06"></i>微信设置</a></li>
				</ul>
			</div>
			<div class="head_tool fr">
				<a href="javascript:;"><i class="icon-首页"></i></a>
				<a href="javascript:;"><i class="icon-更新"></i></a>
				<a href="javascript:;"><i class="icon-退出"></i></a>
			</div>
		</div>
		<div class="sidebar">
			<div class="sidebar_tool"><i class="icon-dedent"></i></div>
			<div class="nav_left">
				<ul>
					<li><a href="javascript:;"><i class="icon-icon-child-4-1"></i><span>SEO设置</span></a></li>
					<li><a href="javascript:;"><i class="icon-icon-child-4-2"></i><span>生成XML</span></a></li>
					<li><a href="javascript:;"><i class="icon-icon-child-4-3"></i><span>友情链接</span></a></li>
					<li><a href="javascript:;"><i class="icon-icon-child-4-4"></i><span>地区分站</span></a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="notice">
				您当前的位置：<a href="#!/index/index">首页</a>
				&gt; <a href="#!/advertising" class="v-link-active">广告管理</a>
				&gt; <a href="#!/advertising/label/:id">标签设置</a>
			</div>
			<div class="main_content">
				<div class="title">
					<span>生成XML</span>
				</div>
				<p class="xml">生成站点地图，完成！<a class="blue" href="javascript:;">点击查看</a></p>
			</div>
		</div>
	</div>
</body>
</html>