{include file="public/header" /}
</head>
<body>
    <div id="main-container">
        {include file="public/menu" /}
        <div class="main">
            <div class="notice">{$position.url}</div>
            <div class="main_content">
                <div class="title">
                    <span>{$position.name}</span>
                </div>
				<form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">
                <input type="hidden" name="id" value="{$info.id}">
                <input type="hidden" name="status" value="{$info.status}">
				<div class="layui-form-item">
		            <label class="layui-form-label">帐户名称</label>
		            <div class="layui-input-inline">
		                <input class="layui-input" name="username" type="text" placeholder="帐户名称" lay-verify="title" value="{$info.username}" readonly>
		            </div>
		        </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="password" name="password" placeholder="不填写则不修改">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" name="real_name" placeholder="真实姓名"  lay-verify="required" value="{$info.real_name}">
                    </div>
                </div>

		        <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
		              <button class="btn" lay-submit="" lay-filter="add-role" data-href={:url('myuser')}>提交</button>
                    </div>
		        </div>
				</form>
			</div>
		</div>
	</div>
<script>
    layui.use(['form','common'], function(){
        var $ = layui.jquery,common=layui.common,form = layui.form();

        //监听提交
        form.on('submit(add-role)', function(data){
            var sub=true;
            var url=$(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (info) {
                            if (info.code == 1) {
                                common.layerAlertSHref(info.msg, '提示', "{:url('user/myuser')}");
                            }
                            else {
                                common.layerAlertE(info.msg, '提示');
                                $(data.elem).removeAttr("disabled").text("提交");
                            }
                        },
                        beforeSend: function () {
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }
            return false;
        });
    });
</script>
</body>
</html>